.detail {
  color: white;
  width: 100%;

  .transparency {
    background-image: linear-gradient(
      to right,
      rgba(11.76%, 11.37%, 13.73%, 1) 150px,
      rgba(30, 29, 35, 0.733) 100%
    );
    padding-bottom: 2%;
  }
}

.leftPart {
  img {
    width: 320px;
    height: 430px;
    border-radius: 10px;
    margin-top: 7%;
  }
}

.rightPart {
  margin-top: 8%;

  @media (max-width: 1199px) {
    margin-left: 5%;
  }
  @media (max-width: 992px) {

    h1{
      font-size: 1.2em;
    }
    h4{
      font-size: 1em;
    }
  }
 

  h1 {
    font-weight: bold;
  }

  .circle {
    border: solid rgb(0, 255, 98) 2px;
    background-color: #0d253f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
 
    .ratioNum {
      font-size: 1.5em;
      text-align: center;
      margin-top: 15%;
      color: white;
    }
    .voteAverage {
      font-size: 15px;
      width: 80px;
      margin-top: -93%;
      margin-left: 115%;
      color: white;
      font-weight: bold;
    }

    // general features for circle icons- they were used in below with @extend method. 
    .iconCircle {
      background-color: #0d253f;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    
    .iconCircle1 {
      @extend .iconCircle;
      margin-left: 250%;
      margin-top: -208%;
    }
    .iconCircle2 {
      @extend .iconCircle;
      margin-left: 350%;
      margin-top: -295%;
    }
    .iconCircle3 {
      @extend .iconCircle;
      margin-left: 450%;
      margin-top: -379%;

      .bookMark {
        margin-top: -2%;
      }
    }

    .iconCircle4 {
      @extend .iconCircle;
      margin-left: 550%;
      margin-top: -466%;
    }

    .iconCircle5 {
      margin-left: 625%;
      margin-top: -550%;

      .playTitle {
        font-size: 15px;
        width: 80px;
        margin-top: 13%;
        color: white;
        font-weight: bold;
      }
    }
  }
}
